@use "styles/colors";
@use "styles/media";

.mainContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$background-primary;
  padding: 120px 340px;

  @include media.mobile {
    margin-top: 60px;
    padding: 48px 24px;
  }
}
