MORPHEUS_USERNAME=your-morpheus-user@morpheus.com
MORPHEUS_PASSWORD=your-morpheus-password-123

FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_URL=https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword

IMAGE_HEIGHT=768
IMAGE_WIDTH=768

# API Base URL
# BASE_URL=http://localhost:8001
# BASE_URL=https://api-morpheus.monadical.io