@use "styles/colors";
@use "styles/media";

.mainContainer {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: colors.$background-primary;
  overflow-y: auto;

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;

    &.leftBar {
      margin-left: 80px;

      @include media.mobile {
        margin-left: 0;
      }
    }

    .main {
      position: relative;
      display: flex;
      flex: 1 auto;

      @include media.mobile {
        background-color: colors.$secondary-color;
      }
    }
  }
}
