@use "styles/colors";
@use "styles/media";

.imageContainer {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  position: relative;

  @include media.mobile {
    width: 100%;
    max-width: 100%;
  }

  .promptContainer {
    display: none;
    visibility: hidden;
    opacity: 0;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.8s linear;
  }

  &:hover > .promptContainer {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}
