.morpheusTitle {
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  background: linear-gradient(107.97deg, #E90064 -14.72%, #FF5F9E 62.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}