@use "styles/colors";
@use "styles/media";

.creatorContainer {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid colors.$background-border;
  }

  .creatorInfo {
    margin-left: 16px;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include media.mobile {
        max-width: 190px;
      }
    }
  }
}