@use "../../styles/variables";
@use "styles/media";

.modalContainer {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  background: white;
  width: 50vw;
  max-width: variables.$max-width-landing;
  height: 50vh;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  overflow-y: auto;

  @include media.mobile {
    height: 68vh !important;
    padding: 16px 16px 0 16px;
  }
}
