// -----------------------------------------------------
// Dimensions
// -----------------------------------------------------
$max-width-landing: 1300px;

// -----------------------------------------------------
// Borders
// -----------------------------------------------------
$radius: 24px;
$radix-accordion-content-height: 100px;