@use "../../../styles/media";

.artworkForm {
  margin-top: 24px;
}

.buttonsContainer {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include media.mobile {
    margin-bottom: 48px;
  }

  button {
    width: 150px !important;
    min-width: 150px !important;

    @include media.mobile {
      width: 100% !important;
    }
  }

  .cancelIcon {
    cursor: pointer;

    @include media.mobile {
      margin-left: 16px;
    }
  }
}
