# model serving and web
ray[serve]
loguru

# image handing and upload
boto3
python-multipart
pillow

# image generation
torch
diffusers
transformers
accelerate
xformers
safetensors
invisible-watermark>=0.2.0
controlnet-aux==0.0.1
opencv-contrib-python-headless