# Web serving
ray[serve]
loguru

# image handling and upload
boto3
python-multipart
pillow

# Database integration
sqlalchemy
psycopg2-binary

# image generation
torch
diffusers
transformers
accelerate
xformers
safetensors
invisible-watermark>=0.2.0
controlnet-aux==0.0.1
opencv-contrib-python-headless