# ----------------------------------------------- #
# Database credentials
# ----------------------------------------------- #
POSTGRES_USER=morpheus
POSTGRES_DB=morpheus
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ----------------------------------------------- #
# AWS credentials
# ----------------------------------------------- #
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# ----------------------------------------------- #
# Bucket defaults
# ----------------------------------------------- #
# Bucket name where images are stored
IMAGES_BUCKET=

# Bucket name where models are stored
MODELS_BUCKET=

# Bucket/Folder where temporal images are stored
IMAGES_TEMP_BUCKET=
