# ----------------------------------------------- #
# Database credentials
# ----------------------------------------------- #
POSTGRES_USER=morpheus
POSTGRES_DB=morpheus
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ----------------------------------------------- #
# Storage config
# ----------------------------------------------- #
# Storage provider: S3 or Firebase
BUCKET_TYPE=Firebase

# Bucket/folder where images are stored
IMAGES_BUCKET=morpheus-images
# Folder where temporal images are stored
IMAGES_TEMP_BUCKET=morpheus-temp-images

# ----------------------------------------------- #
# AWS credentials (required when BUCKET_TYPE=S3)
# ----------------------------------------------- #
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# ----------------------------------------------- #
# Firebase credentials (required when BUCKET_TYPE=Firebase)
# ----------------------------------------------- #
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_STORAGE_BUCKET=
