pydantic[dotenv]
httpx==0.23.0
psycopg2
pytest
alembic
pytest-faulthandler
trio
loguru
pyyaml
boto3
pillow
python-multipart
requests
celery
redis
ftfy
scipy
sentry-sdk[fastapi]
rich
typer
omegaconf
opencv-contrib-python-headless
flower
