@use "styles/colors";

//-------------------------------------------------------------------//
// Global custom styles
//--------------------------------------------------------------------//
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
  &::selection {
    background-color: colors.$primary-color;
    color: white;
  }
}

code {
  font-family: source-code-pro, Consolas, 'Courier New', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-link {
  text-decoration: none;
  cursor: pointer !important;
}

//-------------------------------------------------------------------//
// Scrollbar custom styles
//--------------------------------------------------------------------//
html {
  scroll-behavior: smooth;
}

/* The scrollbar itself */
::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: colors.$background-primary; /* color of the tracking area */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  border-radius: 16px; /* roundness of the scroll thumb */
  background-color: colors.$background-primary-4; /* color of the scroll thumb */
  border: 3px solid colors.$background-primary-4; /* creates padding around scroll thumb */
}

* {
  scrollbar-width: thin; /* "auto" or "thin"  */
  scrollbar-color: colors.$background-white colors.$background-primary; /* thumb and track color */
}