fastapi==0.86.0
pydantic[dotenv]
uvicorn==0.19.0
httpx==0.23.0
firebase-admin==6.0.1
sqlalchemy==1.4.43
black==22.10.0
flake8==5.0.4
psycopg2
pytest
alembic
pytest-faulthandler
trio
loguru
pyyaml
boto3
pillow
python-multipart
requests
sentry-sdk[fastapi]
rich
typer
omegaconf
flower
dynamicprompts[attentiongrabber,magicprompt]
scikit-image
scikit-learn
beautifulsoup4