fastapi==0.86.0
pydantic[dotenv]
uvicorn==0.19.0
httpx==0.23.0
firebase-admin==6.0.1
sqlalchemy==1.4.43
black==22.10.0
flake8==5.0.4
psycopg2
pytest
alembic
pytest-faulthandler
trio
loguru
pyyaml
boto3
pillow
python-multipart
requests
celery
redis
diffusers==0.20.0
transformers
ftfy
scipy
accelerate
torch==1.13.1
torchvision
sentry-sdk[fastapi]
rich
typer
omegaconf
xformers==0.0.16
controlnet-aux==0.0.1
opencv-contrib-python-headless
flower
dynamicprompts[attentiongrabber,magicprompt]
beautifulsoup4
safetensors
invisible-watermark>=0.2.0