# Postgres credentials
POSTGRES_USER=morpheus
POSTGRES_DB=morpheus
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# PGAdmin credentials
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Firebase credentials
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_WEB_API_KEY=

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# S3 BUCKETS ID
#------------------------
# Bucket name where images are stored
IMAGES_BUCKET=
# Bucket name where models are stored
MODELS_BUCKET=
# Folder where temporal images are stored
IMAGES_TEMP_BUCKET=

# Environment
ENVIRONMENT=local

# Hugging Face Authentication Tokens
HF_AUTH_TOKEN=

# Stable Diffusion settings
# Set this to the Morpheus root when running locally.
# MODEL_PARENT_PATH=

# If set, will enable 32-bit floating point numbers.  This will cause image
# generation to run more slowly, but will be more detailed.  If you are
# running locally on Apple M1 or M2 hardware, ENABLE_FLOAT32 will always be
# enabled.
ENABLE_FLOAT32=false

# Specifies the number of images to generate per batch.
# MAX_NUM_IMAGES=
